# ============================
#   AMBIENTE VIRTUAL
# ============================
venv/
.venv/
env/
.env/

# ============================
#   PYTHON
# ============================
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.Spy.class

# ============================
#   JUPYTER NOTEBOOK
# ============================
.ipynb_checkpoints/

# ============================
#   IDE / EDITORES
# ============================
.vscode/
.idea/
*.swp
*.swo

# ============================
#   DATOS Y ARCHIVOS GRANDES
# ============================
*.csv
*.xlsx
*.db
*.sqlite
data/

# ============================
#   LOGS
# ============================
*.log

# ============================
#   MISC
# ============================
.DS_Store